<!-- <div class="form-container">
    <h2> Pet Registration</h2>
    <mat-form-field appearance="fill">
      <mat-label>Pet Name</mat-label>
      <input matInput placeholder="enter the name" [formControl]="nome" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Pet Breed</mat-label>
        <input matInput placeholder="enter the breed" [formControl]="raca" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Pet Age</mat-label>
        <input matInput placeholder="enter the age" [formControl]="idade" required>
      </mat-form-field>
      <div appearance="fill">
        <mat-form-field appearance="fill">
            <mat-label>Select the Size</mat-label>
        <input matInput placeholder="enter the size" [formControl]="porte" required>
      </mat-form-field>
    </div>


 -->
